.wrap{
    background-color: #f0f0f0;
    padding: 25px;
    border-radius: 25px;
    display: flex;
    gap: 20xp;
    padding-bottom: 20px;
    gap: 20px;
    @media(max-width:800px){
        flex-direction: column  ;
    }
}


.card{
    flex-grow: 1;
    
    transition: 0.5s;
    padding: 25px;
    border-radius: 20px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    &:hover{
        flex-grow: 3;
    }
    &:nth-child(1){
        background-image: url(/sale-1.png);
    }
    &:nth-child(2){
        background-image: url(/sale-2.png);
    }
    &:nth-child(3){
        background-image: url(/sale-3.png);
        background-position: -60px;
    }
    &:nth-child(4){
        background-image: url(/sale-4.png);
    }
}


.profile{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border: 1px solid #eae8e8;
    border-radius: 20px;
    margin: 20px;
    h3{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .star{
        width: 150px;
    }
    p{
        color: rgb(173, 173, 173)
    }
    .posted{
        padding: 20px 0;
    }
}
.otzivs{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}
.title_top{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    padding-top: 70px;
    h2{
        span{
            color: rgb(173, 173, 173);
            font-size: small;
        }
    }
    .btn1{
        height: 40px;
        width: 40px;
        border:none;
        border-radius: 20px;
        img{
            width: 20px;
        }
    }
    .btn2{
        width: 80px;
        height: 45px;
        border: none;
        border-radius: 25px;
        margin: 0 20px;
    }
    .btn3{
        width: 110px;
        height: 45px;
        border: none;
        border-radius: 25px;
        text-wrap: nowrap;
        background-color: black;
        color: white;
        padding: 5px 10px;
    }
}
.btns{
    display: flex;
    justify-content: center;
    button{
        width: 150px;
        padding: 10px;
        border: 2px solid rgb(234, 232, 232);
        background-color: white;
        border-radius: 20px;
    }
}
.props{
    display: flex;
    justify-content: center;
}
.h1{
    font-size: 60px;
    text-align: center;
    padding: 40px 0;
}