
.cardd{
    h3{
        padding-top: 10px;
    }
    .portf{
        width: 300px;
        border-radius: 20px;
    }
    .star{
        padding: 8px 0;
        display: flex;
        font-size: 19px;
        gap: 10px;
        
    }
}




